*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
  
  font-size: 18px;
  color: rgb(95, 83, 182) ;
  font-family: Verdana !important;
}

nav{
	background: #000000;
  height: 80px;
  width: 100%;
}

label.logo{
	color: white;
  font-size: 36px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}


nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
  line-height: 80px;
	margin: 0 5px;
}


nav ul li a{
	color: #f3e1d9;
	font-size: 17px;
  padding: 7px 13px;
  border-radius: 4px;
	text-transform: uppercase;
}

a:hover{
	background: #f36e39;
	transition: .5s;
  color: #f3e1d9;
}


.checkbtn{
	font-size: 30px;
	color: #f3e1d9;
	float: right;
	line-height: 80px;
	margin-right: 40px;
  cursor: pointer;
	display: none;
}


#check{
	display: none;
}



@media( max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px
	}
	nav ul li a{
	font-size: 16px;
  }
}


@media( max-width: 858px){
	.checkbtn{
		display: block;
  } 

  ul{
    position:fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height:30px;
  }
  
  nav ul li a{
		font-size: 30px;
  }
  
  a:hover{
      background: none;
     
      color: #f36e39;
  }

  #check:checked ~ ul {
      left: 0;
  }
}

.imgperfil1  
{
    
    padding: 0px;
    height: 100%;
    width: 100%;
    display: block;
    
    border:   gray;
    border-radius: 50px;
}


.sobre,
.projetos {
  background-color: #f3e1d9;
  padding: 50px 10px;
}



.projetos header,
.projetos h2 {
  text-align: center;
  padding: 40px 10px;
  
}

.textodescritivo {
  padding: 20px 10px;
}

.titulo{
  
  font-size: 25px;
  color: rgb(0, 0, 0) ;
  font-family: Verdana !important;

}


.habilidades {
  background-color: #f36e39;
  padding: 50px 0;
  text-align:center;
}

.contato {
  background-color: #f36e39;
  padding: 50px 0;

}

footer{
  background-color: black;
  padding: 2px 0;
  text-align: center;
  color: #f36e39;
  font-size: 10px;
}